@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Merriweather:400i|Roboto:400,500,800');

/*
Reset
*/
    *{
        padding: 0;
        margin: 0;

        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    html{
        font-size: 62.5%;
    }

    body{
        font-size: 1.5rem;
        font-family: 'Merriweather', serif;
        font-weight: 400;
        text-align: center;
    }

    h2{
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    h2 + p{
        margin-bottom: 4rem;
        color: grey;
    }

    a, footer{
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }

    img{
        max-width: 100%;
    }

    ul{
        list-style: none;
    }


/*
Header
*/
    header{
        color: white;
        padding: 2rem 2rem 6rem 2rem;
        background-image: url(../img/header-bg.jpg);
        background-size: cover;
    }

    nav{
        margin-bottom: 4rem;
    }

    li:not(:first-child){
        display: inline-block;
        margin: 0 .5rem;
    }

    li:first-child a{
        font-family: 'Kaushan Script', cursive;
        text-transform: none;
        font-size: 2.5rem;
        color: #f9ce4b;
    }

    nav a{
        color: white;
        text-transform: uppercase;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    h1 span {
        display: block;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-size: 2em;

        /* Interlignage */
        line-height: 1;
        /* Interlettrage */
        letter-spacing: .1rem;
    }

    h1 + a{
        font-size: 1rem;
        font-weight: 500;
        color: white;
        text-transform: uppercase;
        padding: 1rem 2rem;
        background-color: #f9ce4b;

        -webkit-border-radius: .3rem;
        border-radius: .3rem;
    }


/*
Style Portfolio
*/
    section:first-child{
        background-color: #eee;
        padding: 4rem 2rem;
    }