/*
Style Reset
*/
    /* Supprimer toutes les marges */
    *{
        margin: 0;
        padding: 0;
    }

    /* Faire en sorte que 1rem soit égal à 10px */
    html{
        font-size: 62.5%;
    }

    body{
        font-size: 1.5rem; /* => 15px */

        /* Changer la famille de caractères */
        font-family: "Arial", sans-serif;
    }

    /* Supprimer la décoration des balises A */
    a{
        text-decoration: none;
    }

    /* Faire en sorte que les images ne dépassent pas leur parent */
    img{
        max-width: 100%;
    }


/*
Style header
*/
    header{
        /* Aligner le texte au centre */
        text-align: center;

        /* Modifier la couleur de la font */
        color: white;

        /* Ajouter une couleur de fond */
        background: #18bc9c;
    }

    nav{
        /* Mettre le texte en majuscule */
        text-transform: uppercase;

        /* Aligner le texte à gauche */
        text-align: left;

        /* Ajouter une couleur de fond */
        background: #2c3e50;
    }

    nav a{
        /* Modifier la couleur du texte */
        color: white;

        /* Passer le texte en gras */
        font-weight: bold;
    }
    
    li{
        /* Aligner les balises LI */
        display: inline-block;

        /* Ajouter une marge extérieure à droite */
        margin-right: 1rem;
    }